<div>
    <div class="text-black d-flex align-items-center gap-1 fs-5 mt-1">
        <i class='bx bxs-user'></i>
        <p class="m-0">Employee Department</p>
    </div>
    <div class="dashboardSlider ">
        <div routerLink="add-emp-depart"
            class="dashboardCard d-flex align-items-center justify-content-center text-white gap-3 p-3 mb-2 rounded"
            style="background-color: #FFC20E;">
            <span>Add Department</span>
        </div>
        <!-- <div routerLink="edit-user"
            class="dashboardCard d-flex align-items-center justify-content-center text-white gap-3"
            style="background-color: #253D90;">
            <span>Edit User</span>
        </div> -->
        <div routerLink="view-emp-depart"
            class="dashboardCard d-flex align-items-center justify-content-center text-white gap-3"
            style="background-color: #3F861E;">
            <span>Department List</span>
        </div>
    </div>
</div>
<router-outlet></router-outlet>