.loginPage{
    width: 100%;
    background-image: url('/img/loginbg.png');
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    .loder-main{
        position: absolute;
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        background: #2d49ad;
        opacity: 0.9;
        z-index: 999;
    .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
      }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
    }
    .bgColor{
        width: 100%;
        min-height: 100vh;

        background-color: #253D90;
        opacity: 0.8;
        z-index: 999;
    }
    .logoSec{
        display: flex; 
        justify-content: space-between;
        button{
            margin-top: 20px;
            height: 50px;
            margin-right: 30px;
            color: white;
        }
    }

}