body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.adminDashboard {
    color: white;
    background-color: #E3EDF9;
    justify-content: space-around;

    p {
        margin-bottom: 0px;
    }

    .sidebarSection {
        width: 300px;
        padding-top: 15px;
        padding-left: 15px;
        background-color: #121C3E;
        overflow-y: auto;
        height: 100vh;

        .adminProfile {
            background-color: #FFC20E;
            height: 50px;
            width: 50px;
            border-radius: 50%;

            img {
                width: 100%;
            }
        }

        .dashboard {
            margin-right: 15px;
        }

        .dashboard>div {
            margin-top: 8px;
            width: 100%;
            height: 35px;
            transform: none !important;
            border-radius: 10px;
            padding-bottom: 2px;
            cursor: pointer;

            p {
                font-size: 14px !important;
            }
        }

        .dashboard>div img:hover {
            img {
                filter: invert(-1);
            }
        }
    }
    


    .sidebarSection::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-track {
        background-color: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #3498db;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #2980b9;
    }


    .rightSection {
        width: calc(100vw - 300px);
        height: 100%;

        nav {
            .menuIcon {
                cursor: pointer;
            }
            // .navserach{
            //     height: 60px;
            // }

            .navserach input {
                height: 40px !important;
                width: 350px;
                border: none;
                padding-left: 10px;
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
            }

            .navserach>div {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 12px;
                height: 40px;
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
            }

            .navserach img {
                position: relative;
                right: 38px;
                width: 25px;
                height: 25px;
            }

            .navIcons .alertIcon,
            .settingIcon,
            .messageIcon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 43px;
                border-radius: 50%;
                height: 43px;
            }

            .navIcons .alertIcon,
            .settingIcon,
            .messageIcon i {
                font-size: 25px;
            }

        }
    }
}