<div class="mt-5 dashboardSection text-black">
    <p  style="font-weight: bold;">Dashboard</p>
    <div class="dashboardSlider ">
        <div class="dashboardCard d-flex align-items-center justify-content-center gap-3"
            style="background-color: #FFC20E; ">
            <i class='bx bxs-envelope fs-1'></i>
            <div class="d-flex flex-column">
                <span>4</span>
                <span>Message</span>
            </div>
        </div>
        <div class="dashboardCard d-flex align-items-center justify-content-center text-white gap-3"
            style="background-color: #253D90;">
            <i class='bx bx-shopping-bag fs-1'></i>
            <div class="d-flex flex-column">
                <span>1</span>
                <span>Jobs</span>
            </div>
        </div>
        <div class="dashboardCard d-flex align-items-center justify-content-center text-white gap-3"
            style="background-color: #3F861E;">
            <i class='bx bxs-file-doc fs-1'></i>
            <div class="d-flex flex-column">
                <span>4</span>
                <span>Resume</span>
            </div>
        </div>
        <div class="dashboardCard d-flex align-items-center justify-content-center text-white gap-3"
            style="background-color: #FFC20E;">
            <i class='bx bxs-user fs-1'></i>
            <div class="d-flex flex-column">
                <span>20</span>
                <span>Employees</span>
            </div>
        </div>
        <div class="dashboardCard d-flex align-items-center justify-content-center text-white gap-3"
            style="background-color: #253D90;">
            <i class='bx bxs-user fs-1'></i>
            <div class="d-flex flex-column">
                <span>8</span>
                <span>Leaves</span>
            </div>
        </div>
        <div class="dashboardCard d-flex align-items-center justify-content-center text-white gap-3"
        style="background-color: #3F861E;">
        <i class='bx bxs-user fs-1'></i>
        <div class="d-flex flex-column">
            <span>7</span>
            <span>Payrolls</span>
        </div>
    </div>

    </div>

    <div class="cardsDashboard d-flex overflow-y-auto" style="max-height: 350px; overflow-y: auto; display: flex; flex-wrap: wrap;">
        <div class="card px-2 py-2">
            <div class="d-flex justify-content-between">
                <p>Applied Jobs</p>
                <i class='bx bx-dots-vertical-rounded fs-5'></i>
            </div>
            <div class="jobs d-flex flex-column gap-1">
                <div class="job d-flex justify-content-between pe-2 pt-1 rounded" style="background: #E3EDF9;">
                    <div class="d-flex">
                        <img src="/dashboardIcon/Rectangle 34.png" alt="">
                        <div>
                            <p style="margin: 0;">Sales Executive</p>
                            <p style="margin: 0; font-size: 12px;">Access Bank</p>
                        </div>
                    </div>
                    <p style="font-size: 14px;">20 mins ago</p>
                </div>
                <div class="job d-flex justify-content-between pe-2 pt-1 rounded" style="background: #E3EDF9;">
                    <div class="d-flex">
                        <img src="/dashboardIcon/Rectangle 36.png" alt="">
                        <div>
                            <p style="margin: 0;">User Experience Designer</p>
                            <p style="margin: 0; font-size: 12px;">Paystack</p>
                        </div>
                    </div>
                    <p style="font-size: 14px;">10 mins ago</p>
                </div>
                <div class="job d-flex justify-content-between pe-2 pt-1 rounded" style="background: #E3EDF9;">
                    <div class="d-flex">
                        <img src="/dashboardIcon/Rectangle 38.png" alt="">
                        <div>
                            <p style="margin: 0;">Product Manager</p>
                            <p style="margin: 0; font-size: 12px;">T-Pay</p>
                        </div>
                    </div>
                    <p style="font-size: 14px;">5 mins ago</p>
                </div>
            </div>
        </div>
        <div class="card px-2 py-2">
            <div class="d-flex justify-content-between">
                <p>Employees</p>
                <i class='bx bx-dots-vertical-rounded fs-5'></i>
            </div>
            <div class="jobs d-flex flex-column gap-1">
                <div class="job d-flex justify-content-between px-2 py-1  rounded" style="background: #E3EDF9;">
                    <div class="d-flex gap-1">
                        <img src="/dashboardIcon/Ellipse 12.png" alt="">
                        <div>
                            <p style="margin: 0;">Lalit</p>
                            <p style="margin: 0; font-size: 12px;">Role : Product Manager </p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="d-flex gap-2 align-items-center">
                            <span style="background-color: #3F861E;" class="px-1 py-1"><img src="/dashboardIcon/Vector (8).png" alt=""></span>
                            <span style="background-color: #253D90;" class="px-1 py-1"><img src="/dashboardIcon/download.png" alt=""></span>
                        </div>
                    </div>
                </div>
                <div class="job d-flex justify-content-between px-2 py-1  rounded" style="background: #E3EDF9;">
                    <div class="d-flex gap-1">
                        <img src="/dashboardIcon/Ellipse 14.png" alt="">
                        <div>
                            <p style="margin: 0;">gelila</p>
                            <p style="margin: 0; font-size: 12px;">Role : Sales Executive</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="d-flex gap-2 align-items-center">
                            <span style="background-color: #3F861E;" class="px-1 py-1"><img src="/dashboardIcon/Vector (8).png" alt=""></span>
                            <span style="background-color: #253D90;" class="px-1 py-1"><img src="/dashboardIcon/download.png" alt=""></span>
                        </div>
                    </div>
                </div>
                <div class="job d-flex justify-content-between px-2 py-1  rounded" style="background: #E3EDF9;">
                    <div class="d-flex gap-1">
                        <img src="/dashboardIcon/Ellipse 13.png" alt="">
                        <div>
                            <p style="margin: 0;">Biruk </p>
                            <p style="margin: 0; font-size: 12px;">Role : UI UX Designer</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="d-flex gap-2 align-items-center">
                            <span style="background-color: #3F861E;" class="px-1 py-1"><img src="/dashboardIcon/Vector (8).png" alt=""></span>
                            <span style="background-color: #253D90;" class="px-1 py-1"><img src="/dashboardIcon/download.png" alt=""></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card px-2 py-2">
            <div class="d-flex justify-content-between">
                <p>Employees</p>
                <i class='bx bx-dots-vertical-rounded fs-5'></i>
            </div>
            <div class="jobs d-flex flex-column gap-1">
                <div class="job d-flex justify-content-between pe-2 pt-1 rounded" style="background: #E3EDF9;">
                    <div class="d-flex">
                        <img src="/dashboardIcon/Rectangle 34.png" alt="">
                        <div>
                            <p style="margin: 0;">Sales Executive</p>
                            <p style="margin: 0; font-size: 12px;">Access Bank</p>
                        </div>
                    </div>
                    <p style="font-size: 14px;">20 mins ago</p>
                </div>
                <div class="job d-flex justify-content-between pe-2 pt-1 rounded" style="background: #E3EDF9;">
                    <div class="d-flex">
                        <img src="/dashboardIcon/Rectangle 36.png" alt="">
                        <div>
                            <p style="margin: 0;">User Experience Designer</p>
                            <p style="margin: 0; font-size: 12px;">Paystack</p>
                        </div>
                    </div>
                    <p style="font-size: 14px;">10 mins ago</p>
                </div>
                <div class="job d-flex justify-content-between pe-2 pt-1 rounded" style="background: #E3EDF9;">
                    <div class="d-flex">
                        <img src="/dashboardIcon/Rectangle 38.png" alt="">
                        <div>
                            <p style="margin: 0;">Product Manager</p>
                            <p style="margin: 0; font-size: 12px;">T-Pay</p>
                        </div>
                    </div>
                    <p style="font-size: 14px;">5 mins ago</p>
                </div>
            </div>
        </div>
        <div class="card px-2 py-2">
            <div class="d-flex justify-content-between">
                <p>Employees</p>
                <i class='bx bx-dots-vertical-rounded fs-5'></i>
            </div>
            <div class="jobs d-flex flex-column gap-1">
                <div class="job d-flex justify-content-between pe-2 pt-1 rounded" style="background: #E3EDF9;">
                    <div class="d-flex">
                        <img src="/dashboardIcon/Rectangle 34.png" alt="">
                        <div>
                            <p style="margin: 0;">Sales Executive</p>
                            <p style="margin: 0; font-size: 12px;">Access Bank</p>
                        </div>
                    </div>
                    <p style="font-size: 14px;">20 mins ago</p>
                </div>
                <div class="job d-flex justify-content-between pe-2 pt-1 rounded" style="background: #E3EDF9;">
                    <div class="d-flex">
                        <img src="/dashboardIcon/Rectangle 36.png" alt="">
                        <div>
                            <p style="margin: 0;">User Experience Designer</p>
                            <p style="margin: 0; font-size: 12px;">Paystack</p>
                        </div>
                    </div>
                    <p style="font-size: 14px;">10 mins ago</p>
                </div>
                <div class="job d-flex justify-content-between pe-2 pt-1 rounded" style="background: #E3EDF9;">
                    <div class="d-flex">
                        <img src="/dashboardIcon/Rectangle 38.png" alt="">
                        <div>
                            <p style="margin: 0;">Product Manager</p>
                            <p style="margin: 0; font-size: 12px;">T-Pay</p>
                        </div>
                    </div>
                    <p style="font-size: 14px;">5 mins ago</p>
                </div>
            </div>
        </div>
    </div>
</div>
