<div>
    <div class="text-black d-flex align-items-center gap-1 fs-6 mt-2">
        <i class='bx bxs-user'></i>
        <p class="m-0">User Management</p>
    </div>
    <div class="dashboardSlider mb-2">
        <div routerLink="add-user"
            class="dashboardCard d-flex align-items-center justify-content-center text-white gap-3 p-3  rounded"
            style="background-color: #FFC20E;">
            <span>Add User</span>
        </div>
        <!-- <div routerLink="edit-user"
            class="dashboardCard d-flex align-items-center justify-content-center text-white gap-3"
            style="background-color: #253D90;">
            <span>Edit User</span>
        </div> -->
        <div routerLink="user-list"
            class="dashboardCard d-flex align-items-center justify-content-center text-white gap-3"
            style="background-color: #3F861E;">
            <span>User List</span>
        </div>
    </div>
</div>


<router-outlet></router-outlet>