<div class="project_section">
    <div class="project_heading">
        <p>Project</p>
    </div>
    
    <div class="project_cards">
        <div class="projectCard">
            <div class="d-flex gap-3">
                <div style="background-color: #f0f4f7; display: flex; align-items: center; padding: 0 5px; border-radius: 20px;">
                    <img src="/project/totalp.svg" alt="">
                </div>
                <div>
                    <p style="font-weight: 500;">Total Project</p>
                    <p style="font-weight: 500;">5,768</p>
                </div>
            </div>
            <div class="projectcard_bottom" >
                <span>Project this month</span>
                <span style="background-color: #d2e7f7; padding: 1px 4px; border-radius: 8px; font-size: 14px; color: green;">+9.5%</span>
            </div>
        </div>
        <div class="projectCard">
            <div class="d-flex gap-3">
                <div style="background-color: #f0f4f7; display: flex; align-items: center; padding: 0 5px; border-radius: 20px;">
                    <img src="/project/activep.svg" alt="">
                </div>
                <div>
                    <p style="font-weight: 500;">Active Projects</p>
                    <p style="font-weight: 500;">4,568</p>
                </div>
            </div>
            <div class="projectcard_bottom" >
                <span>Project this month</span>
                <span style="background-color: #d2e7f7; padding: 1px 4px; border-radius: 8px; font-size: 14px; color: green;">+6.5%</span>
            </div>
        </div>
        <div class="projectCard">
            <div class="d-flex gap-3">
                <div style="background-color: #f0f4f7; display: flex; align-items: center; padding: 0 5px; border-radius: 20px;">
                    <img src="/project/finishedp.svg" alt="">
                </div>
                <div>
                    <p style="font-weight: 500;">Finished Project</p>
                    <p style="font-weight: 500;">1,268</p>
                </div>
            </div>
            <div class="projectcard_bottom" >
                <span>Project this month</span>
                <span style="background-color: #d2e7f7; padding: 1px 4px; border-radius: 8px; font-size: 14px; color:red;">-4.5%</span>
            </div>
        </div>
        <div class="projectCard">
            <div class="d-flex gap-3">
                <div style="background-color: #f0f4f7; display: flex; align-items: center; padding: 0 5px; border-radius: 20px;">
                    <img src="/project/tp.svg" alt="">
                </div>
                <div>
                    <p style="font-weight: 500;">Total Projects</p>
                    <p style="font-weight: 500;">15,768</p>
                </div>
            </div>
            <div class="projectcard_bottom" >
                <span>Project this month</span>
                <span style="background-color: #d2e7f7; padding: 1px 4px; border-radius: 8px; font-size: 14px; color: green;">+12.5%</span>
            </div>
        </div>
    </div>


</div>
